<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LOL Me / 设置</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/dropzone.css">
    <link rel="stylesheet" href="/stylesheets/imgly.css">
    <link rel='stylesheet' href='/stylesheets/common.css'>
      <link rel="stylesheet" href="/stylesheets/settings.css">
  </head>
  <body class="index-body">
    <div class="wrap">
      <% include ../common/header.ejs %>
      <% include ../common/post-modal.ejs %>
      <div class="main">
        <div class="container">
          <div class="left-wrap">
            <% include ../common/userboard.ejs %>
            <div class="left-block-wrap left-setting-wrap">
              <div class="setting-title">
                <h3>设置</h3>
              </div>
              <div class="setting-list-wrap">
                <ul class="list-unstyled setting-list">
                  <li><a href="/settings/profile">个人资料<i class="fa fa-mail-forward"></i></a></li>
                  <li><a class="setting-active" href="/settings/gravatar">修改头像<i class="fa fa-mail-forward"></i></a></li>
                  <li><a href="/settings/reset-pass">重置密码<i class="fa fa-mail-forward"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="middle-content setting-content-wrap">
            <div class="setting-content-header">
              <div class="setting-header-inner">
                <h2>修改头像</h2>
                <p>你可以上传设置个性化头像，为了更好显示请将其裁剪为正方形</p>
              </div>
            </div>
            <div class="resinfo"></div>
            <div class="setting-form-wrap">
              <div class="setting-gravatar-form">
                <input type="file" id="file">
                <div id="container" style="width: 480px; height: 420px;margin-left: 25px;"></div>
                <button id="renderButton" type="button" class="btn btn-info">查看效果图</button>
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-success set-gravatar-btn">保存更改</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="/javascripts/lib/imgly.concat.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/javascripts/lib/bootstrap.min.js"></script>
    <script src="/javascripts/lib/dropzone.js"></script>

    <script src="/javascripts/main.js"></script>
    <script>
      /**
       * imglyKit
       * integration example
       *
       * Copyright (c) 2013 img.ly
       */

      $(function () {
        var fileInput = document.getElementById("file")
          , renderButton = $("#renderButton")
          , imgly = new imglyKit({
              container: "#container"
            });

        // As soon as the user selects a file...
        fileInput.addEventListener("change", function (event) {
          var file;

          // Find the selected file
          if(event.target.files) {
            file = event.target.files[0];
          } else {
            file = event.target.value;
          }

          // Use FileReader to turn the selected
          // file into a data url. imglyKit needs
          // a data url or an image
          var reader = new FileReader();
          reader.onload = (function(file) {
            return function (e) {
              data = e.target.result;

              // Run imglyKit with the selected file
              try {
                imgly.run(data);
              } catch (e) {
                if(e.name == "NoSupportError") {
                  alert("Your browser does not support canvas.");
                } else if(e.name == "InvalidError") {
                  alert("The given file is not an image");
                }
              }
            };
          })(file);
          reader.readAsDataURL(file);
        });

        // As soon as the user clicks the render button...
        // Listen for "Render final image" click
        renderButton.click(function (event) {
          var dataUrl;

          // dataUrl = imgly.renderToDataURL("png", function (err, dataUrl) {});
          // `dataUrl` now contains the full-sized rendered image
          // Caution: This string will probably exceed the maximum
          // dataURL size of 2M. You will not be able to set location.href
          // or an <img> tag's `src` attribute to this dataUrl.

          // dataUrl = imgly.renderToDataURL("png", { maxSize: "100x100" }, function (err, dataUrl) {});
          // `dataUrl` now contains a resized rendered image that
          // does not exceed 100x100 while keeping the ratio

          // dataUrl = imgly.renderToDataURL("png", { size: "100x100" }, function (err, dataUrl) {});
          // `dataUrl` now contains a resized rendered image with
          // a size of 100x100 pixels while _not_ keeping the ratio

          imgly.renderToDataURL("png", { size: "100x" }, function (err, dataUrl) {
            $('.final-gravatar-show-wrap').remove();
            // `dataUrl` now contains a resized rendered image with
            // a width of 300 pixels while keeping the ratio
            var finalcontainer = '<div class="final-gravatar-show-wrap"><div class="final-gravatar-show"></div></div>';
            $('.setting-gravatar-form').append(finalcontainer);
            $("<img>").attr({
              src: dataUrl
            }).appendTo($(".final-gravatar-show"));
          });
        });

        $('.set-gravatar-btn').on('click', function() {
          var canvas = document.getElementsByTagName('canvas')[0];
          if (!canvas) {
            $('.resinfo').html('');
            var errorhtml = '<div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><strong>请先添加图片</strong></div>';
            $('.resinfo').append(errorhtml);
            return;
          }
          var imgdata = canvas.toDataURL();
          $.ajax({
            url: '/settings/gravatar',
            type: 'POST',
            dataType: 'json',
            data: {'imgData': imgdata},
            success: function(data) {
              if (data.status === 'success') {
                $('.resinfo').html('');
                var successhtml = '<div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><strong>'+ data.success +'</strong></div>';
                $('.resinfo').append(successhtml);
                $('.avatar-wrap').find('img').attr('src', data.gravatar);

              } else {
                $('.resinfo').html('');
                var errorhtml = '<div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><strong>'+ data.error +'</strong></div>';
                $('.resinfo').append(errorhtml);
              }
            },
            error: function() {
              alert('Something goes wrong here!');
            }
          });
        })
      });
    </script>
  </body>
</html>