<!DOCTYPE html>
<html>
  <head>
    <title>LOL Me</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body class="index-body">
    <% if (!locals.c_user) { %>
      <% include indexnoneuser.ejs %>
    <% } else { %>
      <div class="wrap">
        <% include ./common/header.ejs %>
        <div class="main">
          <div class="container">
            <% include ./common/userboard.ejs %>
            <% include ./common/content.ejs %>
          </div>
        </div>
      </div>


    <% } %>


    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="/javascripts/lib/jquery-1.11.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
