<!DOCTYPE html>
<html>
<head>
    <title>Notify</title>
    <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <% if (locals.error) { %>
            <div class="form-group">
                <div class="alert alert-warning">
                    <strong><%= locals.error %></strong>
                </div>
            </div>
            <% } %>
            <% if (locals.success) { %>
            <div class="form-group">
                <div class="alert alert-success">
                    <strong><%= locals.success %></strong>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="/javascripts/lib/jquery-1.11.1.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/javascripts/lib/bootstrap.min.js"></script>
</body>
</html>