* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
img {
    border: 0;
}

/* header nav */
.nav-wrap {
    height: 60px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 2000;
}
.nav-inner {
    height: 60px;
    width: 100%;
    background-color: #f5f5f5;
}
.search-wrap {
    height: 60px;
    position: absolute;
    top: 0;
    right: 150px;
    text-align: center;
    padding-top: 15px;
}
.site-brand {
    width: 200px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -100px;
    font-size: 26px;
    line-height: 60px;
    text-align: center;
    color: #66757f;
    font-style: italic;
    font-weight: 700;
    text-shadow: 5px 5px 5px #8c9ca9;
}
.nav-top {
    height: 60px;
}
.search-input {
    height: 30px;
    width: 200px;
    outline: none;
    border-radius: 21px;
    border: none;
    background: #66757f;
    color: #ccd6dd;
    padding: 5px 15px;
}
.search-wrap i {
    position: relative;
    top: 0;
    right: 30px;
    color: #fff;
}
.nav-list-wrap {
    height: 60px;
    width: 400px;
}
.nav-list {
    margin: 0;
    height: 60px;
    width: 300px;
}
.nav-list li {
    height: 60px;
    width: 60px;
    float: left;
}
.nav-list li a {
    display: block;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    border: 1px solid #66757f;
    border-radius: 50%;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #66757f;
}
.notifition-count {
    position: relative;
    top: -45px;
    left: 30px;
}
.nav-list li a:hover {
    color: #fff;
    background-color: #66757f;
}
.setting-wrap {
   position: absolute;
   top: 0px;
   right: 70px;
   height: 60px;
   width: 60px;
}
.nav-setting {
    display: block;
    font-size: 26px;
    color: #66757f;
    line-height: 30px;
    margin-top: 15px;
    width: 26px;
}
#setting-dropdown {
    left: -78px;
}
.setting-tangle {
    position: absolute;
    top: 0;
    height: 0;
    width: 0;
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}
.post-wrap {
    position: absolute;
    top: 13px;
    right: 30px;
}
#btn-post {
    background-color: #0099B9;
    border-color: #0099B9;
    font-size: 24px;
    padding: 0 12px;
}