* {
    margin: 0;
    padding: 0;
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
    height: 100%;
}
body {
  font: 14px Helvetica, Arial, sans-serif;
}
img {
    border: 0;
}
.index-body {
    height: 100%;
    background-image: url(../images/index-bg.gif);
    background-color: #0099B9;
    background-position: left 40px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.hot-share {
    margin-top: 30px;
}
.main {
    position: relative;
    top: 60px;
    z-index: 999;
}
.follow-button-wrap {
    position: relative;
    float: right;
    top: 60px;
    right: 40px;
}
.follow-btn {
    width: 82px;
    height: 34px;
    outline: none;
    font-weight: 700;
}

.left-block-wrap h3 {
    margin: 0;
    font-size: 20px;
    color: #66757f;
    line-height: 22px;
    font-weight: 300;
}
.middle-content {
    width: 590px;
    float: left;
    margin: 30px 15px 0 15px;
}
#infscr-loading {
  text-align: center;
  z-index: 1000;
  position: fixed;
  left: 45%;
  bottom: 40px;
  width: 200px;
  padding: 10px;
  background: #000;
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
/* post modal */

#post-modal .modal-dialog {
    max-width: 500px;
}
#modal-post-btn {
    background-color: #0099B9;
    border-color: #0099B9;
    font-size: 24px;
    padding: 0 17px;
}
.share-words {
    width: 450px;
    height: 80px;
    border: 1px solid rgba(0,153,185,0.25);
    border-radius: 4px;
    padding: 10px;
    outline: none;
}
.attach-bar-list {
    margin-left: 5px;
    margin-top: 5px;
}
.attach-bar-list li {
    width: 110px;
    height: 39px;
}
.attach-bar-list li a {
    display: block;
    font-size: 20px;
    color: #0099B9;
    text-decoration: none;
    line-height: 35px;
}
.attach-bar-list li a b {
    font-size: 12px;
}
.attach-link {
    cursor: pointer;
    text-align: center;
}
.secret-title {
    height: 30px;
    width: 100px;
    margin-left: 10px;
    font-weight: 500;
    color: #66757f;
}
.selectpicker {
    width: 220px;
    height: 30px;
    margin-left: 5px;
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #66757f;
}
.secret-tip {
    font-size: 12px;
    font-weight: 600;
    font-style: italic;
    color: #ccc;
}
#dropzone-wrap {
    display: none;
}
#dropzone-wrap .dropzone .dz-preview, .dropzone-previews .dz-preview {
    margin: 12px;
}
#dropzone-wrap .dropzone {
    min-height: 250px;
    margin-bottom: 10px;
}
#link-wrap {
    margin-bottom: 10px;
    padding-left: 10px;
    height: 30px;
    display: none;
}
#video-wrap {
    margin-bottom: 10px;
    padding-left: 10px;
    display: none;
}
.attach-link-input {
    height: 30px;
    width: 350px;
    border:1px solid #0099B9;
    border-radius: 6px;
    color: #66757f;
    padding-left: 8px;
    outline: none;
    font-size: 12px;
}
.puzzle-input-cancel, .attach-link-cancel, .puzzle-answer-cancel, .video-input-cancel, .video-share-tip {
    position: relative;
    top: 4px;
    height: 24px;
    width: 20px;
    line-height: 24px;
    font-size: 24px;
    margin-left: 8px;
    cursor: pointer;
}
.puzzle-input-cancel, .video-input-cancel, .video-share-tip {
    top: -20px;
}
.question-wrap {
    margin-top: 10px;
    padding-left: 10px;
    display: none;
}
#puzzle-input, #video-input {
    height: 60px;
    padding-top: 8px;
}
.question-answer {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* comment post modal */

#comment-post-modal .modal-dialog {
    max-width: 500px;
}
.modal-comment-item {
    height: 60px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.modal-comment-inner-left {
    width: 48px;
    height: 48px;
    position: relative;

}
.modal-comment-inner-right {
    width: 380px;
    position: relative;
    left: 56px;
    top: -48px;
}
/* header nav */
.nav-wrap {
    height: 60px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 1000;
}
.nav-inner {
    height: 60px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}
.search-wrap {
    height: 60px;
    position: absolute;
    top: 0;
    right: 150px;
    text-align: center;
    padding-top: 15px;
}
.site-brand {
    width: 200px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -100px;
    font-size: 26px;
    line-height: 60px;
    text-align: center;
    color: #66757f;
    font-style: italic;
    font-weight: 700;
    text-shadow: 5px 5px 5px #8c9ca9;
}
.nav-top {
    height: 60px;
}
.search-input {
    height: 30px;
    width: 200px;
    outline: none;
    border-radius: 21px;
    border: none;
    background: #66757f;
    color: #ccd6dd;
    padding: 5px 15px;
}
.search-wrap i {
    position: relative;
    top: 0;
    right: 30px;
    color: #fff;
}
.nav-list-wrap {
    height: 60px;
    width: 400px;
}
.nav-list {
    margin: 0;
    height: 60px;
    width: 300px;
}
.nav-list li {
    height: 60px;
    width: 60px;
    float: left;
}
.nav-list li a {
    display: block;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    border: 1px solid #66757f;
    border-radius: 50%;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #66757f;
}
.notifition-count {
    position: relative;
    top: -45px;
    left: 30px;
}
.nav-list li a:hover {
    color: #fff;
    background-color: #66757f;
}
.setting-wrap {
   position: absolute;
   top: 0px;
   right: 70px;
   height: 60px;
   width: 60px;
}
.nav-setting {
    display: block;
    font-size: 26px;
    color: #66757f;
    line-height: 30px;
    margin-top: 15px;
    width: 26px;
}
#setting-dropdown {
    left: -78px;
}
.setting-tangle {
    position: absolute;
    top: 0;
    height: 0;
    width: 0;
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}
.post-wrap {
    position: absolute;
    top: 13px;
    right: 30px;
}
#btn-post {
    background-color: #0099B9;
    border-color: #0099B9;
    font-size: 24px;
    padding: 0 12px;
}

/* index left wrap */
.left-wrap {
    width: 290px;
    float: left;
    margin-top: 30px;
}
.left-block-wrap {
    background: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
}
.user-card {
    position: relative;
    padding: 0 0 15px 0;
}
.user-avatar {
    height: 110px;
    background: #66757f;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.avatar-wrap {
    width: 86px;
    height: 86px;
    padding: 3px;
    position: relative;
    top: 74px;
    left: 20px;
    border-radius: 5px;
    background-color: #fff;
}
.user-info {
    position: absolute;
    top: 120px;
    left: 122px;
}

.user-info-fullname a {
    font-size: 18px;
    color: #292f33;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
}
.user-info p {
    font-size: 12px;
    color: #8c9ca9;
    line-height: 16px;
    font-weight: 300;
}
.user-info-list {
    text-align: center;
    margin: 65px 10px 0 10px;
}
.user-info-list li {
    padding: 0;
    width: 87px;
}
.user-info-list li a {
    text-decoration: none;
}
.user-info-list li span {
    display: block;
}
.user-profile {
    margin: 15px 0 0 41px;
    color: #8c9ca9;
}
.top-label {
    font-size: 10px;
    letter-spacing: .02em;
    color: #8c9ca9;
}
.bottom-label {
    font-size: 18px;
    font-weight: 500;
    padding-top: 3px;
    color: #0099B9;
}

/* middle content */
.item-inner {
    position: relative;
    background: #fff;
    border: none;
    border-radius: 6px;
    margin-bottom: 20px;
}
.item-inner-left {
    width: 48px;
    position: relative;
    top: 15px;
    left: 10px;
}
.item-inner-right {
    position: relative;
    top: -33px;
    left: 69px;
    max-width: 520px;
    overflow: hidden;
}
.content-media-inner {
    margin-right: 15px;
}
.content-media-inner img {
    max-width: 506px;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}
.author-information {
    margin-bottom: 10px;
}
.fullname {
    color: #292f33;
    font-size: 18px;
    line-height: 1.25;
}
.fullname:hover {
    color: #0099B9;
}
.create-time {
    margin-right: 35px;
    margin-top: -20px;
    font-size: 12px;
    color: #8899a6;
    font-weight: 700;
    float: right;
}
.content-bottom {
    margin-top: 8px;
}
.content-bottom a {
    font-size: 12px;
    color: #8899a6;
    cursor: pointer;
}
.none-comment {
    font-size: 10px;
    font-style: italic;
    color: #8899a6;
}
.add-comment-direct {
    margin-left: 3px;
    font-size: 14px;
    color: #8899a6;
}
.fun-list {
    float:right;
    margin-right: 30px;
}

/* comment list */
.comment-list {
    display: none;
}
.comment-item:last-child {
    height: 44px;
    text-align: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

}
.comment-item:last-child a {
    font-style: italic;
    font-size: 16px;
    line-height: 44px;
    text-decoration: none;
    color: #66757f;
}
.comment-item {
    position: relative;
    background: #f5f8fa;
    padding-left: 30px;
    border-top: 1px solid #e1e8ed;
}
.comment-item-inner-left {
    width: 32px;
    position: relative;
    top: 8px;
    left: 5px;
}
.comment-item-inner-right {
   position: relative;
   left: 50px;
   top: -22px;
   max-width: 470px;
   overflow: hidden;
}

a.islike {
    color: #d2322d;
}
a.isdislike {
    color: #292f33;
}
.joke-item-content {
    margin-top: 8px;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 34px;
    font-weight: 300;
    color: #292f33;
}
.at-name {
    display: block;
    width: 200px;
    font-size: 14px;
    line-height: 18px;
    color: #8899a6;
    font-weight: 300;
    text-decoration: none;
    vertical-align: top;
}
.at-name b {
    font-weight: 500;
    vertical-align: top;
}
