.follow-wrap {
    width: 850px;
    margin-top: 30px;
    float: left;
}
.follow-inner {
    float: left;
    padding: 15px 20px;
}
.follow-card-wrap {
    width: 260px;
    float: left;
    background-color: #fff;
    border-radius: 6px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.follow-card-header {
    height: 95px;
    background-color: #0084B4;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.follow-card-content {
    position: relative;
}
.follow-avatar-link {
    display: block;
    width: 74px;
    height: 74px;
    background-color: #fff;
    border-radius: 4px;
    padding: 2px;
    margin-top: -20px;
    margin-left: 15px;
}
.follow-action {
    float: right;
    margin-right: 20px;
    margin-top: -38px;
}
.following-info {
    padding: 10px 16px;
}
.following-fullname a {
    font-size: 16px;
    font-weight: 600;
    color: #292f33;
    height: 22px;
    line-height: 1;
}
.at-name-wrap {
    padding-top: 5px;
}
.at-name-wrap p {
    font-size: 13px;
    color: #66757f;
    line-height: 1;
    font-weight: 400;
}
.following-profile {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.375em;
    color: #66757f;
    height: 5.5em;
    word-wrap: break-word;
    overflow: hidden;
}