<header class="nav-wrap">
    <div class="nav-inner">
        <div class="nav-top container">
            <div class="nav-list-wrap">
                <ul class="nav-list list-inline">
                    <li class="nav-active">
                        <a class="nav-tooltip" href="#" data-toggle="tooltip" data-placement="bottom" title="首页">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li class="nav-default">
                        <a class="nav-tooltip" href="#" data-toggle="tooltip" data-placement="bottom" title="通知">
                            <i class="fa fa-bell"></i>
                        </a>
                        <span class="badge notifition-count">4</span>
                    </li>
                    <li class="nav-default">
                        <a class="nav-tooltip" href="#" data-toggle="tooltip" data-placement="bottom" title="我">
                            <i class="fa fa-user"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="site-brand hidden-xs">
                Smile it
            </div>
            <div class="search-wrap hidden-xs">
                <form action="/search" method="post" role="form">
                    <input type="text" name="query" class="search-input" size="20"
                    placeholder="Search it...">
                    <i class="fa fa-search"></i>
                </form>
            </div>
            <div class="setting-wrap dropdown">
                <a href="#" class="dropdown-toggle nav-setting nav-tooltip" data-toggle="dropdown"
                data-placement="bottom" title="设置">
                <i class="fa fa-gear"></i>
            </a>

                <ul class="dropdown-menu" id="setting-dropdown">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="/signout">退出</a></li>
                </ul>
            </div>
            <div class="post-wrap">
                <button class="btn btn-success nav-tooltip" id="btn-post" data-toggle="modal" data-placement="bottom" data-target="#post-modal" title="发表">
                    <i class="fa fa-pencil-square-o"></i>
                </button>
            </div>
        </div>
    </div>
</header>