<div class="item-inner">
    <div class="item-inner-left">
        <img class="img-rounded img-responsive nav-tooltip"
        src="/images/default.png" data-toggle="tooltip" title="nicholas" width="48" height="48">
    </div>
    <div class="item-inner-right">
        <div class="author-information">
            <a href="/u/nicholas">
                <strong class="fullname">Nicholas</strong>
            </a>
            <small class="create-time">
                <a class="nav-tooltip" href="#" data-toggle="tooltip" title="下午11:50 - 2014年6月23日">6月23日</a>
            </small>
        </div>

        <p>You asked, Font Awesome delivers with 71 shiny new icons in version 4.1.</p>

        <div class="content-media-wrap">
            <div class="content-media-inner">
                <img class="img-rounded img-responsive"
                src="/images/default.png" alt="" width="506">
            </div>
        </div>

        <div class="content-bottom">
            <a href="#" class="nav-tooltip" title="展开">
                <i class="fa fa-photo"></i>
                <b>展开</b></a>
            <ul class="list-inline fun-list">
                <li>
                    <a href="#">
                        <i class="fa fa-reply"></i>
                        <b>回复</b>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-heart"></i>
                        <b>点赞</b>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-hand-o-down"></i>
                        <b>差评</b>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-star"></i>
                        <b>收藏</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>